body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.wrap {
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
  text-align-last: center;
  list-style: none;
}

.flex-container-overview {
  display: flex;
  text-align-last: center;
  list-style: none;
  justify-content: center;
}

.flex-item {
  padding: 12px;
  min-width: 280px;
  width: 45%;
  margin: 0px;
  text-align: center;
  padding-left: 0;
}

.flex-item-overview {
  display: inline-block;
  height: 100%;
  width: 29%;
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  box-shadow: inset 0 0 0 2px #dfe1e6;
  border-radius: 25px;
  width: 90%;
  height: 1px;
  background: white;
  outline: none;
  opacity: 1;
  transition: opacity 0.2s;
  padding: 3px 4px;
  justify-items: center;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

#container {
  max-width: 800px;
  height: 70%;
  width: 80%;
  margin: 1em auto;
}
