<!doctype html>
<html>

<head>
    <title>koon</title>

    {{#if options.developmentMode}}
    <link rel="stylesheet" href="{{baseURI}}/public/css/main.build.css">
    {{else}}
    <link rel="stylesheet" href="{{baseURI}}/public/css/main.build.min.css">
    {{/if}}
    <script   src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="   crossorigin="anonymous">
        </script>
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
</head>

<body>
    <div id="modal">
        <ul class="flex-container-overview wrap">
            {{#each countList}}
            <li class=" flex-item-overview">
                <div id="{{this}}"></div>
            </li>
            {{/each}}
        </ul>

    </div>
    {{#if options.developmentMode}}
    <script src="{{baseURI}}/public/js/general.js"></script>
    {{else}}
    <script src="{{baseURI}}/public/js/general.min.js"></script>
    {{/if}}
</body>

</html>