<!doctype html>
<html>

<head>
    <title>{{title}}</title>

    {{#if options.developmentMode}}
    <link rel="stylesheet" href="{{baseURI}}/public/css/main.build.css">
    {{else}}
    <link rel="stylesheet" href="{{baseURI}}/public/css/main.build.min.css">
    {{/if}}
    <script   src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="   crossorigin="anonymous">
        </script>
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
</head>

<body scroll="no" style="overflow: hidden;">

    {{#> content}}
    <div id="modal">
        <div id="container"></div>
        <ul class="flex-container wrap">
            {{#each countCards}}
            <li class="flex-item"></li>
            {{/each}}
        </ul>
        {{/content}}

        {{#if options.developmentMode}}
        <script src="{{baseURI}}/public/js/single.js"></script>
        {{else}}
        <script src="{{baseURI}}/public/js/single.min.js"></script>
        {{/if}}
    </div>
</body>

</html>